<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Stylesheet.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="page-content">
        <div class="margin-bottom">
            <div class="flex" id="top-bar-div">
                <div class="flex-1">
                    <h1 class="app-title">
                        <i class="fa-solid fa-money-bill-trend-up"></i>
                        Stocks
                    </h1>
                </div>
                <div class="flex-1">
                    Login
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>